* {
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial;
}

/* HEADER */
header {
background:#111;
color:#fff;
padding:15px 50px;
display:flex;
justify-content:space-between;
align-items:center;
position:sticky;
top:0;
}

header h1 { color:orange; }

nav a {
color:white;
margin:0 15px;
text-decoration:none;
}

nav a:hover { color:orange; }

/* HERO */
.hero {
height:90vh;
background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),
url('https://images.unsplash.com/photo-1503387762-592deb58ef4e') center/cover;
color:white;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
}

.hero h2 { font-size:50px; }
.hero p { font-size:20px; }

.hero button {
margin-top:20px;
padding:12px 25px;
background:orange;
border:none;
cursor:pointer;
border-radius:5px;
}

/* SECTIONS */
section { padding:60px 20px; text-align:center; }

.service-container {
display:flex;
justify-content:center;
flex-wrap:wrap;
}

.card {
background:#f4f4f4;
margin:15px;
padding:25px;
width:220px;
border-radius:10px;
transition:0.3s;
}

.card:hover {
background:orange;
color:white;
transform:scale(1.05);
}

/* GALLERY */
.gallery img {
width:300px;
margin:10px;
border-radius:10px;
}

/* CONTACT */
.contact {
background:#eee;
}

input, textarea {
width:80%;
padding:10px;
margin:10px;
}

button {
background:orange;
padding:10px 20px;
border:none;
cursor:pointer;
}

/* MAP */
.map iframe {
border-radius:10px;
}

/* FOOTER */
footer {
background:#111;
color:white;
padding:20px;
}

/* WHATSAPP */
.whatsapp {
position:fixed;
bottom:20px;
right:20px;
background:green;
color:white;
padding:15px;
border-radius:50%;
text-decoration:none;
}

/* SMOOTH */
html { scroll-behavior:smooth; }
